@charset "UTF-8";
.mainmenu::after, .wemake::after, .advantages_list::after, .burgers_slider__item::after, .ourmenu__list::after, .reviews__list::after, .formorder::after, .mainmenu::before, .wemake::before, .advantages_list::before, .burgers_slider__item::before, .ourmenu__list::before, .reviews__list::before, .formorder::before {
  content: "";
  display: table; }
.mainmenu::after, .wemake::after, .advantages_list::after, .burgers_slider__item::after, .ourmenu__list::after, .reviews__list::after, .formorder::after {
  clear: both; }

.section, .arrow__pic, .logo, .is_overlay video, .composition__picture, .composition__productpic, .FAT__picture, .ourteam__photo, .ourmenu__item, .review__picture, .formorder__itemtext-shift.formorder__itemtext-square::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.arrow::before, .navigation::before, .header::before, .container::before {
  /* ÐåðÁð¢ÐéÐÇð©ÐÇð¥ð▓ð░ð¢ð©ðÁ ð▒ð╗ð¥ð║ð░ ð▓ ð▒ð╗ð¥ð║ðÁ, ÐÇð¥ð┤ð©ÐéðÁð╗ÐîÐüð║ð©ð╣ Ðìð╗ðÁð╝ðÁð¢Ðé */
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.arrow__pic, .navigation__list, .header__left, .header__right, .footer__left, .footer__right, .socials__item {
  /* ÐåðÁð¢ÐéÐÇð©ÐÇð¥ð▓ð░ð¢ð©ðÁ ð▒ð╗ð¥ð║ð░ ð▓ ð▒ð╗ð¥ð║ðÁ, ÐåðÁð¢ÐéÐÇð©ÐÇÐâðÁð╝Ðïð╣ Ðìð╗ðÁð╝ðÁð¢Ðé */
  display: inline-block;
  vertical-align: middle; }

.wemake, .thebest, .burgers_slider__item, .order {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  max-height: 100%;
  overflow: hidden; }

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  outline: none;
  box-sizing: border-box;
  font-family: 'Ubuntu_Light', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%; }

*, *::before, *::after {
  box-sizing: inherit;
  outline: inherit; }

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  font-family: 'Ubuntu_Light'; }

ul {
  list-style: none; }

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  font-size: 14px;
  color: #fff; }

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  min-width: 940px; }

.allcontent {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.1s ease-in;
          transition: transform 1.1s ease-in; }

.section {
  height: 100vh;
  min-height: 650px;
  position: relative;
  z-index: 1; }

.section__container {
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative; }

.section__title {
  font-size: 70px;
  font-family: 'Gagalin';
  font-weight: 100; }

.button {
  display: inline-block;
  vertical-align: middle; }

.button__link {
  display: block;
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  background-color: #e35028;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: background-color 0.2s ease-in;
          transition: background-color 0.2s ease-in; }
  .button__link:hover {
    background-color: rgba(228, 80, 40, 0.9); }

.arrow {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 900;
  text-align: center; }
  .arrow__pic {
    background-image: url("../img/icons/arrow-scroll.svg"); }

@font-face {
  font-family: 'Ubuntu_Medium';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.svg") format("svg"), url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu_Regular';
  src: url("../fonts/Ubuntu/Ubuntu-Regular.svg") format("svg"), url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu_Light';
  src: url("../fonts/Ubuntu/Ubuntu-Light.svg") format("svg"), url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu_Bold';
  src: url("../fonts/Ubuntu/Ubuntu-B.svg") format("svg"), url("../fonts/Ubuntu/Ubuntu-B.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/Gagalin-Regular.svg") format("svg"), url("../fonts/Gagalin/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.svg") format("svg"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.navigation {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 20px;
  text-align: center; }

.navigation__list {
  width: 16px; }

.navigation__item {
  height: 16px;
  width: 16px;
  margin: 0 auto 4px;
  position: relative; }

.navigation__button {
  display: block;
  width: 16px;
  height: 16px; }
  .navigation__button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #e35028;
    border-radius: 50%;
    height: 6px;
    width: 6px; }
  .navigation__button::after {
    content: '';
    display: block;
    background-color: transparent;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear; }
  .navigation__button:hover::after, .navigation__button.active::after {
    border: 1px solid #fff;
    opacity: 1; }

.arrow-gonextsection {
  position: fixed;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
.arrow-totop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 80px;
  width: 80px;
  background-color: rgba(227, 80, 40, 0.6);
  border-radius: 50%; }
  .arrow-totop .arrow__pic {
    height: 20px;
    width: 30px; }
.arrow.arrow-gonextsection:not(.nohover):hover .arrow__pic {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }
.arrow__pic {
  height: 15px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.3s linear;
          transition: transform 0.3s linear; }

.header {
  font-size: 0px;
  width: 940px;
  position: absolute;
  top: 0;
  padding: 12px 0;
  z-index: 100;
  max-height: 200px;
  overflow: hidden; }
  .header > * {
    font-size: 14px
    /* ð┤ð╗ÐÅ ð©ð¢ð╗ð░ð╣ð¢ð¥ð▓ÐïÐà Ðìð╗ðÁð╝ðÁð¢Ðéð¥ð▓, Ðâð▒ð©ÐÇð░ðÁð╝ ð¥ÐéÐüÐâÐéð┐Ðï */ }

.header__left {
  width: 20%; }

.logo {
  height: 70px;
  width: 90px; }
  .logo__picture {
    display: none; }

.header__right {
  width: 80%;
  text-align: right; }

.mainmenu {
  font-family: 'Ubuntu_Medium';
  width: 70%;
  display: inline-block;
  vertical-align: middle; }

.mainmenu__item {
  display: inline-block;
  padding-left: 16px;
  padding-right: 21px;
  position: relative;
  float: left; }
  .mainmenu__item::after {
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .mainmenu__item:first-child {
    padding-left: 0; }
  .mainmenu__item:last-child {
    padding-right: 0; }
    .mainmenu__item:last-child::after {
      display: none; }

.mainmenu__link {
  display: block;
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-size: 13px;
  color: #fff; }
  .mainmenu__link:hover {
    text-decoration: underline; }

.section-firstscreen {
  background-image: url("../img/bg/firstscreen.png"); }

.is_overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }
  .is_overlay video {
    z-index: 0;
    opacity: 0.7;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../img/bg/firstscreen.png"); }

.wemake__picture {
  width: 50%;
  height: 430px;
  float: left;
  text-align: right; }
.wemake__desc {
  width: calc(50% - 10px);
  margin-left: 10px;
  float: right;
  font-size: 65px;
  padding: 130px 0; }

.wemake__img {
  width: 96%;
  max-height: 100%; }

.wemake__title {
  margin-bottom: 20px;
  color: #f9b43b; }

.wemake__text {
  line-height: 1;
  font-family: 'Lifehack'; }

.section-we {
  background-image: url("../img/bg/we.png");
  text-align: center; }

.thebest {
  color: #2f3234; }

.we__title {
  margin-bottom: 70px; }

.advantages_list__item {
  float: left;
  width: 33.33%; }
  .advantages_list__item h3 {
    font-family: 'Lifehack';
    font-size: 24px;
    margin: 25px 0 12px; }
  .advantages_list__item p {
    line-height: 2; }

.advantages_list__picture {
  height: 95px; }

.advantages_list__img {
  max-height: 100%; }

.section-burgers {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b43b+0,ef9939+33,eb8c38+51,ec8f39+66,f9b43b+100 */
  background: #f9b43b;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #f9b43b 0%, #ef9939 33%, #eb8c38 51%, #ec8f39 66%, #f9b43b 100%);
  background: linear-gradient(to bottom, #f9b43b 0%, #ef9939 33%, #eb8c38 51%, #ec8f39 66%, #f9b43b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 )
  /* IE6-9 */ }

.burgers_slider {
  display: block;
  height: 100%; }
  .burgers_slider__item {
    font-family: 'Gagalin'; }
    .burgers_slider__item.active {
      display: block; }
  .burgers_slider__info {
    width: 50%;
    float: left;
    text-align: right;
    padding: 80px 0 80px; }
  .burgers_slider__desc {
    width: calc(50% - 45px);
    margin-left: 45px;
    float: right; }
    .burgers_slider__desc p {
      line-height: 1.7;
      margin-bottom: 22px;
      height: 110px;
      overflow: hidden; }

.composition {
  position: absolute;
  top: 10px;
  left: 33px;
  text-align: left; }
  .composition__link {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    background-color: rgba(227, 80, 40, 0.4);
    text-align: center;
    color: #fff;
    -webkit-transition: background-color 0.3s ease-in;
            transition: background-color 0.3s ease-in; }
  .composition:hover .composition__link {
    background-color: #e35028; }
  .composition__picture {
    background-image: url("../img/icons/burger.svg");
    width: 47px;
    height: 47px;
    margin: 15% auto 5%; }
  .composition__full {
    position: absolute;
    opacity: 0;
    top: 0;
    left: -9999px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Ubuntu_Medium';
    color: #2f3234;
    width: 270px;
    padding: 9px 21px;
    -webkit-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out; }
    .composition__full::after {
      content: '';
      position: absolute;
      width: 10%;
      height: 100%;
      right: 100%;
      top: 0; }
    .composition__fulltable {
      width: 100%; }
  .composition:hover .composition__full {
    left: 90px;
    opacity: 1; }
  .composition__productpic {
    height: 48px;
    width: 50px; }
  .composition__tablecell {
    vertical-align: middle; }

.burgers_slider__price {
  color: #e35028;
  line-height: 1; }

.burgers_slider__currencyprice {
  display: inline-block;
  vertical-align: bottom;
  font-size: 30px;
  padding-bottom: 5px;
  margin-right: 20px; }

.burgers_slider__numericprice {
  display: inline-block;
  vertical-align: bottom;
  font-size: 72px; }

.FAT__picturesvg {
  fill: rgba(248, 207, 157, 0.8);
  height: 60px; }

.FAT {
  position: absolute;
  left: 35px;
  bottom: 5px;
  width: 60px;
  height: 80px;
  text-align: center;
  color: rgba(248, 207, 157, 0.8); }
  .FAT__picture {
    height: 60px;
    background-image: url("../img/icons/kkal.svg"); }
  .FAT__numeric {
    margin: -37px 0 13px;
    font-size: 20px; }
  .FAT__kkal {
    text-transform: uppercase; }

.burgers_slider__title {
  line-height: 0.9;
  margin: 5px 0 40px; }

.arrow-burgersliderright {
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg); }
.arrow-burgersliderleft {
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg); }
.arrow.arrow-burgersliderright:hover .arrow__pic, .arrow.arrow-burgersliderleft:hover .arrow__pic {
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%); }
.arrow__pic {
  height: 15px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.2s linear;
          transition: transform 0.2s linear; }

.jcarousel {
  position: relative;
  overflow: hidden;
  height: 100%; }

.jcarousel ul {
  width: 20000em;
  position: relative; }

.jcarousel li {
  float: left;
  width: 940px; }

.section-team {
  background-image: url("../img/bg/team.png"); }

.ourteam {
  width: 49%;
  height: 100%;
  float: right;
  background-color: rgba(48, 51, 52, 0.95); }

.ourteam__wrapper {
  width: calc(940px*0.49);
  height: 100%;
  overflow: hidden; }

.ourteam__title {
  color: #f9b43b;
  margin: 80px 0 70px;
  text-align: center; }

.ourteam__list {
  display: inline-block;
  padding-left: 18%;
  position: relative; }

.ourteam__item {
  margin-bottom: 35px; }
  .ourteam__item.active .ourteam__name::before {
    border-top: none;
    border-bottom: 6px solid #f9b43b; }

.ourteam__name {
  font-family: 'Gagalin';
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding-left: 18px; }
  .ourteam__name:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    border-top: 6px solid #f9b43b;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent; }
  .ourteam__name:hover {
    color: #f9b43b; }

.ourteam__info {
  display: none;
  cursor: pointer; }

.ourteam__photo {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  margin: 18px 16px 5px 18px;
  border-radius: 50%; }
  .ourteam__photo img {
    display: none; }

.ourteam__text {
  width: 220px;
  display: inline-block;
  vertical-align: middle; }
  .ourteam__text h4 {
    margin: 10px 0 16px; }
  .ourteam__text p {
    line-height: 1.8; }

.section-menu {
  background-image: url("../img/bg/menu.png"); }

.ourmenu {
  height: 100%;
  width: 100%;
  position: relative; }

.ourmenu__title {
  padding: 110px 0 0 15px; }

.ourmenu__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.ourmenu__item {
  height: 100%;
  min-width: 80px;
  float: left; }
  .ourmenu__item-meetlovers {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/content/meetlovers.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/content/meetlovers.png"); }
  .ourmenu__item-vegetarians {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/content/vegetarians.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/content/vegetarians.png"); }
  .ourmenu__item-dietaries {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/content/dietaries.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/content/dietaries.png"); }
  .ourmenu__item.active .ourmenu__fulldesc {
    display: inline-block; }
  .ourmenu__item.active {
    -webkit-animation: rightAccordeon 0.3s ease-out;
            animation: rightAccordeon 0.3s ease-out; }

@-webkit-keyframes rightAccordeon {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes rightAccordeon {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
.ourmenu__link {
  display: inline-block;
  width: 80px;
  height: 100%;
  position: relative; }

.ourmenu__fulldesc {
  display: inline-block;
  width: 540px;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.9);
  vertical-align: top;
  display: none; }

.ourmenu__fulltext {
  display: block;
  height: 100%;
  padding: 10% 7%;
  line-height: 1.8; }

.ourmenu__text {
  display: inline-block;
  font-family: 'Gagalin';
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 100vh;
  min-width: 650px;
  height: 80px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 100%; }

.section-reviews {
  background-color: #eee; }

.reviews {
  height: 100%;
  width: 100%; }

.reviews__list {
  height: 100%; }

.reviews__item {
  float: left;
  width: 25%;
  height: 50%; }

.review {
  height: 100%;
  overflow: hidden;
  position: relative; }
  .review__picture {
    height: 100%; }
  .review__img {
    display: none; }
  .review__info {
    position: absolute;
    top: 0;
    left: -9990px;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 17% 7%;
    background-color: rgba(20, 20, 20, 0.72);
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.3s linear;
            transition: transform 0.2s ease-in-out, opacity 0.3s linear; }
    .review__info h4 {
      font-family: 'Gagalin'; }
    .review__info p {
      max-height: 60%;
      overflow: hidden;
      margin: 22px 0 15px;
      line-height: 1.7; }
  .review__full {
    color: #2f3234;
    border-radius: 5px;
    display: none;
    width: 460px;
    max-height: 500px;
    padding: 25px 20px;
    position: relative; }
    .review__full h4 {
      font-family: 'Gagalin'; }
    .review__full p {
      max-height: 60%;
      overflow: hidden;
      margin: 22px 0 15px;
      line-height: 1.7; }
  .review__closefull {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #e35028;
    font-weight: 300;
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    -webkit-transition: background .2s;
            transition: background .2s;
    -webkit-transform: scaleX(1.3);
        -ms-transform: scaleX(1.3);
            transform: scaleX(1.3); }
  .review:hover .review__info {
    left: 0px;
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }

.button-review .button__link {
  color: #fff;
  background-color: #2f3234; }
  .button-review .button__link:hover {
    background-color: #1f2122; }

.section-form {
  background-image: url("../img/bg/form.png"); }

.order__title {
  color: #f9b43b;
  text-align: center;
  margin-bottom: 80px; }

.formorder {
  font-family: 'Ubuntu_Light'; }
  .formorder__left {
    float: left;
    width: calc(50% - 20px); }
  .formorder__right {
    float: right;
    width: calc(50% - 20px); }

.formorder__row {
  font-size: 0px;
  margin-bottom: 16px; }
  .formorder__row > * {
    font-size: 14px
    /* ð┤ð╗ÐÅ ð©ð¢ð╗ð░ð╣ð¢ð¥ð▓ÐïÐà Ðìð╗ðÁð╝ðÁð¢Ðéð¥ð▓, Ðâð▒ð©ÐÇð░ðÁð╝ ð¥ÐéÐüÐâÐéð┐Ðï */ }
  .formorder__row label:last-child {
    margin-right: 0; }
  .formorder__row-lessmarginbottom {
    margin-bottom: 6px; }
  .formorder__row-anothermarginbottom {
    margin-bottom: 12px; }

.formorder__item {
  display: inline-block;
  margin-right: 20px;
  width: 100%;
  overflow: hidden; }
  .formorder__item-2 {
    width: calc( (100% - 20px*(2 - 1) )/2); }
  .formorder__item-4 {
    width: calc( (100% - 20px*(4 - 1) )/4); }
  .formorder__itemtext {
    margin-bottom: 10px; }
    .formorder__itemtext-shift {
      padding-left: 25px;
      position: relative; }
      .formorder__itemtext-shift::before {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        border: 4px solid #fff;
        -webkit-transition: background-color 0.3s linear, border-width 0.2s linear;
                transition: background-color 0.3s linear, border-width 0.2s linear; }
      .formorder__itemtext-shift.formorder__itemtext-round::before {
        border-radius: 50%; }
      .formorder__itemtext-shift.formorder__itemtext-square::before {
        background-image: url("../img/icons/check.svg");
        border-width: 8px; }

.formorder__input {
  width: 100%;
  height: 35px;
  padding: 5px;
  border-radius: 5px; }
  .formorder__input:focus {
    border: 1px solid #f9b43b;
    box-shadow: inset 0 0 4px 2px #f9b43b; }
  .formorder__input-textarea {
    height: 112px;
    resize: none; }

.formorder__payment, .formorder__dontcall {
  display: none; }
  .formorder__payment:checked + .formorder__itemtext-shift.formorder__itemtext-round::before, .formorder__dontcall:checked + .formorder__itemtext-shift.formorder__itemtext-round::before {
    background-color: #e35028; }
  .formorder__payment:checked + .formorder__itemtext-shift.formorder__itemtext-square::before, .formorder__dontcall:checked + .formorder__itemtext-shift.formorder__itemtext-square::before {
    border-width: 3px; }

.button-clean .button__link {
  text-transform: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }
  .button-clean .button__link:hover {
    background-color: transparent; }

.section-map {
  background-image: url("../img/bg/map.png"); }

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 0;
  padding: 10px 0; }

.container {
  margin: 0 auto;
  width: 940px;
  max-height: 200px;
  overflow: hidden;
  font-size: 0px; }
  .container > * {
    font-size: 14px
    /* ð┤ð╗ÐÅ ð©ð¢ð╗ð░ð╣ð¢ð¥ð▓ÐïÐà Ðìð╗ðÁð╝ðÁð¢Ðéð¥ð▓, Ðâð▒ð©ÐÇð░ðÁð╝ ð¥ÐéÐüÐâÐéð┐Ðï */ }

.footer__left {
  width: 80%; }

.footer__phonenumber {
  font-family: 'Ubuntu_Bold';
  color: #d64c26;
  margin-top: 10px; }

.footer__right {
  width: 20%; }

.socials__item {
  margin-left: 15px; }

.socials__link {
  display: block; }

.socials__icon {
  fill: #585858;
  -webkit-transition: fill 0.3s linear;
          transition: fill 0.3s linear; }
  .socials__icon:hover {
    fill: #fff; }

.fancybox-enabled {
  overflow: hidden; }

.fancybox-enabled body {
  overflow: visible;
  height: 100%; }

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-container ~ .fancybox-container {
  z-index: 99992; }

.fancybox-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(47, 50, 52, 0.92);
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-container--ready .fancybox-bg {
  opacity: .87;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  z-index: 99994;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  direction: ltr; }

.fancybox-show-controls .fancybox-controls {
  opacity: 1; }

.fancybox-infobar {
  display: none; }

.fancybox-show-infobar .fancybox-infobar {
  display: inline-block;
  pointer-events: all; }

.fancybox-infobar__body {
  display: inline-block;
  width: 70px;
  line-height: 44px;
  font-size: 13px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  color: #ddd;
  background-color: rgba(30, 30, 30, 0.7);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased; }

.fancybox-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  pointer-events: all; }

.fancybox-show-buttons .fancybox-buttons {
  display: block; }

.fancybox-slider-wrap {
  overflow: hidden;
  direction: ltr; }

.fancybox-slider, .fancybox-slider-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent; }

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch; }

.fancybox-slide:before {
  content: "";
  height: 100%;
  width: 0; }

.fancybox-slide:before, .fancybox-slide > * {
  display: inline-block;
  vertical-align: middle; }

.fancybox-slide > * {
  position: relative;
  padding: 24px;
  margin: 44px 0;
  border-width: 0;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box; }

.fancybox-slide--image {
  overflow: hidden; }

.fancybox-slide--image:before {
  display: none; }

.fancybox-content {
  display: inline-block;
  position: relative;
  margin: 44px auto;
  padding: 0;
  border: 0;
  width: 80%;
  height: calc(100% - 88px);
  vertical-align: middle;
  line-height: normal;
  text-align: left;
  white-space: normal;
  outline: none;
  font-size: 16px;
  font-family: Arial,sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch; }

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff; }

.fancybox-slide--video .fancybox-content, .fancybox-slide--video .fancybox-iframe {
  background: transparent; }

.fancybox-placeholder {
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
      transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-image, .fancybox-placeholder, .fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0; }

.fancybox-image, .fancybox-spaceball {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  background: transparent;
  background-size: 100% 100%; }

.fancybox-controls--canzoomOut .fancybox-placeholder {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.fancybox-controls--canzoomIn .fancybox-placeholder {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.fancybox-controls--canGrab .fancybox-placeholder {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-controls--isGrabbing .fancybox-placeholder {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden; }

.fancybox-error {
  position: absolute;
  margin: 0;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 380px;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background: #fff;
  cursor: default; }

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font: 16px/20px Helvetica Neue,Helvetica,Arial,sans-serif; }

.fancybox-close-small {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  z-index: 10;
  cursor: pointer; }

.fancybox-close-small:after {
  content: "×";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background: #fff;
  -webkit-transition: background .2s;
          transition: background .2s;
  box-sizing: border-box;
  z-index: 2; }

.fancybox-close-small:focus:after {
  outline: 1px dotted #888; }

.fancybox-slide--video .fancybox-close-small {
  top: -36px;
  right: -36px;
  background: transparent; }

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee; }

.fancybox-caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 30px 0;
  z-index: 99998;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  background: -webkit-linear-gradient(270deg, transparent 0, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8));
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8));
  opacity: 0;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
  pointer-events: none; }

.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1; }

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none; }

.fancybox-caption a, .fancybox-caption button {
  pointer-events: all; }

.fancybox-caption a {
  color: #fff;
  text-decoration: underline; }

.fancybox-button {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  vertical-align: top;
  outline: none; }

.fancybox-button--disabled {
  cursor: default;
  pointer-events: none; }

.fancybox-button, .fancybox-infobar__body {
  background: rgba(30, 30, 30, 0.6); }

.fancybox-button:hover {
  background: rgba(0, 0, 0, 0.8); }

.fancybox-button:after, .fancybox-button:before {
  content: "";
  pointer-events: none;
  position: absolute;
  border-color: #fff;
  background-color: currentColor;
  color: currentColor;
  opacity: .9;
  box-sizing: border-box;
  display: inline-block; }

.fancybox-button--disabled:after, .fancybox-button--disabled:before {
  opacity: .5; }

.fancybox-button--left:after {
  left: 20px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.fancybox-button--left:after, .fancybox-button--right:after {
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor; }

.fancybox-button--right:after {
  right: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.fancybox-button--left {
  border-bottom-left-radius: 5px; }

.fancybox-button--right {
  border-bottom-right-radius: 5px; }

.fancybox-button--close {
  float: right; }

.fancybox-button--close:after, .fancybox-button--close:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 16px;
  top: calc(50% - 1px);
  left: calc(50% - 8px); }

.fancybox-button--close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.fancybox-button--close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.fancybox-loading {
  border: 6px solid rgba(99, 99, 99, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: a .8s infinite linear;
  animation: a .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 99999; }

@-webkit-keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@media (max-width: 800px) {
  .fancybox-controls {
    text-align: left; }

  .fancybox-button--left, .fancybox-button--right, .fancybox-buttons button:not(.fancybox-button--close) {
    display: none !important; }

  .fancybox-caption {
    padding: 20px 0;
    margin: 0; } }
.fancybox-button--fullscreen:before {
  width: 15px;
  height: 11px;
  left: 15px;
  top: 16px;
  border: 2px solid;
  background: none; }

.fancybox-button--play:before {
  top: 16px;
  left: 18px;
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px inset transparent;
  border-left: 10px solid;
  border-radius: 1px;
  background: transparent; }

.fancybox-button--pause:before {
  top: 16px;
  left: 18px;
  width: 7px;
  height: 11px;
  border-style: solid;
  border-width: 0 2px;
  background: transparent; }

.fancybox-button--thumbs span {
  font-size: 23px; }

.fancybox-button--thumbs:before {
  top: 20px;
  left: 21px;
  width: 3px;
  height: 3px;
  box-shadow: 0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0; }

.fancybox-container--thumbs .fancybox-caption-wrap, .fancybox-container--thumbs .fancybox-controls, .fancybox-container--thumbs .fancybox-slider-wrap {
  right: 220px; }

.fancybox-thumbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 220px;
  margin: 0;
  padding: 5px 5px 0 0;
  background: #fff;
  z-index: 99993;
  word-break: normal;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0; }

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  max-width: 50%;
  padding: 0;
  margin: 0;
  width: 105px;
  height: 75px;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 5px solid #fff;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box; }

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-thumbs > ul > li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1; }

@media (max-width: 800px) {
  .fancybox-thumbs {
    display: none !important; }

  .fancybox-container--thumbs .fancybox-caption-wrap, .fancybox-container--thumbs .fancybox-controls, .fancybox-container--thumbs .fancybox-slider-wrap {
    right: 0; } }

/*# sourceMappingURL=main.css.map */