html{
	outline: none;
	box-sizing: border-box;
	font-family: 'Ubuntu_Light', Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

*, *::before, *::after{
	box-sizing: inherit;
	outline: inherit;
}
ul,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-weight: 400;
}
p{
	font-family: 'Ubuntu_Light';
}
ul{
	list-style: none;
}
body{
	padding: 0; margin: 0;
	min-height: 100%; width: 100%;
	font-size: 14px;
	color: #fff;
}


.wrapper{
	width: 100%; height: 100vh;	
	overflow: hidden;
	position: relative;
	min-width: $static_width;
}
.allcontent{
	width: 100%; height: 100%;		
	// position: relative;
	transition: transform 1.1s ease-in;
}

.section{
	@extend %bgImg;
	height: 100vh; min-height: 650px;
	position: relative;
	z-index: 1;
}
.section__container{
	height: 100%;
	max-width: $static_width;
	margin: 0 auto;
	position: relative;
}

.section__title{
	font-size: 70px;
	font-family: 'Gagalin';
	font-weight: 100;
}


.button{
	display: inline-block;
	vertical-align: middle;
}

.button__link{
	display: block;
	font-family: 'Ubuntu';
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	background-color: $deep-orange-color;
	border-radius: 5px;
	padding: 10px 15px;
	transition: background-color 0.2s ease-in;
	
	&:hover{
		background-color: rgba(228, 80, 40, 0.9);			
	}	
}

.arrow{	
	@extend %inline-vertical-centr;
	position: absolute;
	height: 40px;
	width: 40px;	
	z-index: 900;
	text-align: center;

	&__pic{
		@extend %inline-vertical-centr-child;
		background-image: url('../img/icons/arrow-scroll.svg');
		@extend %bgImg;
	}

}

// .screencover{
//   display: none;
//   position: absolute;
//   top: 0; left: 0; right: 0; bottom: 0;
//   z-index: 1500;
//   background: rgba(47, 50, 52, 0.92);
// }