@font-face {
    font-family: 'Ubuntu_Medium';
    src: url('../fonts/Ubuntu/Ubuntu-Medium.svg') format('svg'),
         url('../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu_Regular';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.svg') format('svg'),
         url('../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu_Light';
    src: url('../fonts/Ubuntu/Ubuntu-Light.svg') format('svg'),
         url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu_Bold';
    src: url('../fonts/Ubuntu/Ubuntu-B.svg') format('svg'),
         url('../fonts/Ubuntu/Ubuntu-B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin/Gagalin-Regular.svg') format('svg'),
         url('../fonts/Gagalin/Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/lifehack_medium-webfont.svg') format('svg'),
         url('../fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
  font-family: 'FontAwesome';
  src:  url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
        url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


