.footer{
	width: 100%;
	background-color: rgba(0,0,0,.9);
	position: absolute;
	bottom: 0;
	padding: 10px 0;
}

.container{ 
	@extend %inline-vertical-centr;
	margin: 0 auto;
	width: 940px;
	max-height: 200px;
	overflow: hidden;
	@include inlinefix;
}

.footer__left{
	@extend %inline-vertical-centr-child;
	width: 80%;
}

.footer__phonenumber{
    font-family: 'Ubuntu_Bold';
	color: #d64c26;
	margin-top: 10px;
}


.footer__right{	
	@extend %inline-vertical-centr-child;
	width: 20%;
}

.socials__item{
	@extend %inline-vertical-centr-child;
	margin-left: 15px;
}
.socials__link{
	display: block;
}

.socials__icon{
	fill: #585858;
	transition: fill 0.3s linear;

	&:hover	{
		fill: #fff;
	}
}
