.section-form{
	background-image: url('../img/bg/form.png');
}

.order{
	@extend %section_center_content;
}

.order__title{
	color: $orange-color;
	text-align: center;
	margin-bottom: 80px;
}


	$margin_between_inputs: 20px;//отступы между полями ввода

.formorder{
	@extend %clearfix;	
	font-family: 'Ubuntu_Light';

	&__left{
		float: left;
		width: calc(50% - #{$margin_between_inputs});
	}

	&__right{
		float: right;
		width: calc(50% - #{$margin_between_inputs});
	}
}

.formorder__row{
	@include inlinefix;
	margin-bottom: 16px;

	& label:last-child{
		margin-right: 0;
	}

	&-lessmarginbottom{
		margin-bottom: 2px;
	}
}

.formorder__item{
	display: inline-block;
	margin-right: $margin_between_inputs;
	width: 100%;	

	@each $quantity in 2,4{//вычисляем ширину инпутов исходя из их количества в строке
		&-#{$quantity}{
			width: calc( (100% - #{$margin_between_inputs}*(#{$quantity} - 1) )/#{$quantity});
		}
	}
	// &-2{
	// 	width: calc( (100% - #{$margin_between_inputs}*(2 - 1) )/2);
	// }

	// &-4{
	// 	width: calc( (100% - #{$margin_between_inputs}*(4 - 1) )/4);
	// }		

	&text{//текст над инпутом
		margin-bottom: 10px;

		&-shift{
			padding-left: 25px;
			position: relative;


			&::before{
				content: '';
				width: 16px;
				height: 16px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #fff;
				border: 4px solid #fff;
			}

			&.formorder__itemtext-round{
				&::before{
					border-radius: 50%;

				}
			}			


		}
	}
}

.formorder__input{
	width: 100%;
	height: 35px;
	padding: 5px;
	border-radius: 5px;

	&-textarea{
		height: 112px;
		resize: none; 
	}
}

.formorder__payment, .formorder__dontcall{//стандартные от чекбоксов и радио не видны
	display: none;
	&:checked + .formorder__itemtext-shift.formorder__itemtext-round::before{
		background-color: $deep-orange-color;
	}
	&:checked + .formorder__itemtext-shift.formorder__itemtext-square::before{
		background-image: url('../img/icons/check.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}


