$nav_item_size: 16px;
.navigation{
	@extend %inline-vertical-centr;
	@include inlinefix;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000;
	width: 20px;
	text-align: center;
}

.navigation__list{
	@extend %inline-vertical-centr-child;
	width: $nav_item_size;
}

.navigation__item{
	height: $nav_item_size;
	width: $nav_item_size;
	margin: 0 auto 4px;
	position: relative;

}

.navigation__button{
	display: block;
	width: $nav_item_size; height: $nav_item_size;	


	&::before{
		content: '';
		position: absolute;
		top: 50%;	left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;//#fff;
		border: 1px solid $deep-orange-color;//#fff;
		border-radius: 50%;
		height: 6px;
		width: 6px;
	}
	&::after{
		content: '';
		display: block;
		background-color: transparent;
		border-radius: 50%;
		height: $nav_item_size; width: $nav_item_size;
		opacity: 0;
		transition: opacity 0.2s linear;
	}	

	&:hover::after, &.active::after{
		border: 1px solid #fff;
		opacity: 1;		
	}
}

.arrow{

	&-gonextsection{
		position: fixed;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);		
	}

	&-totop{
		display: none;
		position: fixed;
		bottom: 40px; right: 40px;
		transform: rotate(180deg);
		height: 80px;
		width: 80px;
		background-color: rgba($deep-orange-color, 0.6);
		border-radius: 50%;

		& .arrow__pic{
			height: 20px;
    		width: 30px;
    	}
	}

	&.arrow-gonextsection:not(.nohover):hover &__pic{
		transform: translateY(-100%);
	}

	&__pic{
		height: 15px;
		width: 30px;
		transition: transform 0.3s linear;//, opacity 3s linear;
	}

}