.section-reviews{
	background-color: #eee;
}

.reviews{
	height: 100%;
	width: 100%;
}

.reviews__list{
	@extend %clearfix;	
	height: 100%;
}
.reviews__item{
	float: left;
	width: 25%;
	height: 50%;
}


.review{
	height: 100%;
	overflow: hidden;
	position: relative;

	&__picture{
		height: 100%;
		@extend %bgImg;
	}

	&__img{
		display: none;
	}

	&__info{
		position: absolute;
		top: 0;
		left: -9990px;
		width: 100%;
		height: 100%;
		opacity: 0;
		// padding: 50px 20px;
		padding: 17% 7%;
		background-color: rgba(20,20,20,.72);
		transform: scale(0.7);	
		transition: transform 0.2s ease-in-out, opacity 0.3s linear;
		
		& h4{
    		font-family: 'Gagalin';
		}
		& p{
			max-height: 60%; overflow: hidden;
   			margin: 22px 0 15px;
    		line-height: 1.7;
		}
	}

	&__full{
		//position: absolute;top: 50%; left: 50%;
		color: $almost-black-color;
		display: none;
		width: 460px;
		max-height: 500px;
   		padding: 25px 20px;
   		position: relative;

   		& h4{
    		font-family: 'Gagalin';
		}
		& p{
			max-height: 60%; overflow: hidden;
   			margin: 22px 0 15px;
    		line-height: 1.7;
		}

		// &::after{
		// 	content:"x";
		// 	position:absolute;
		// 	top: 0;	right:5px;
		// 	cursor: pointer;
		// 	width:30px;	height:30px; font-size: 30px;
		// 	color: $deep-orange-color;
		// 	font-weight:300;
		// 	text-align:center;
		// 	border-radius:50%;
		// 	border-width:0;
		// 	transition:background .2s;
		// 	transform: scaleX(1.3);
		// }
	}

	&__closefull{
		// float: right;
  // 		position: relative;
  // 		top: -0; right: -10px;
  // 		font-size: 30px;
  // 		transform: rotate(45deg);
  // 		height: 30px;
  // 		width: 30px;
		// color: $deep-orange-color;  		
  // 		font-weight: bold;
  // 		line-height: 0;  	
			position:absolute;
			top: 0;	right:5px;
			cursor: pointer;
			width:30px;	height:30px; font-size: 30px;
			color: $deep-orange-color;
			font-weight:300;
			text-align:center;
			border-radius:50%;
			border-width:0;
			transition:background .2s;
			transform: scaleX(1.3);	
	}

	&:hover &__info{
		left: 0px;
		opacity: 1;
		transform: none;	
	}
}



.button-review .button__link{
	color: #fff;
	background-color: #2f3234;

	&:hover{
		background-color: #1f2122;			
	}	
}