.section-we{
	background-image: url('../img/bg/we.png');
	text-align: center;
}

.thebest{
	@extend %section_center_content;
	color: $almost-black-color;
}

.we__title{
	margin-bottom: 70px;
}

.advantages_list{
	@extend %clearfix;	

	&__item{
	float: left;
	width: 33.33%;

		& h3{
			font-family: 'Lifehack';
			font-size: 24px;
			margin: 25px 0 12px;
		}	

		& p{
			line-height: 2;
		}
	}
}

.advantages_list__picture{
	height: 95px;
}

.advantages_list__img{
	max-height: 100%;
}